<nav class="navbar navbar-expand-lg navbar-light bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/" >Envolturas S.A.C.</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <!-- Visible para todos los usuarios autenticados -->
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Inicio</a>
                </li>
                <!-- Visible solo para ADMIN -->
                <li class="nav-item">
                    <a th:if="${session.userlogged.rol.id==4}" class="nav-link text-light" href="/adminPanel">Panel Admin</a>
                </li>
                <!-- Visible solo para USUARIO NORMAL -->
                <li class="nav-item">
                    <a class="nav-link text-light" href="/listProductionOrder">Ordenes de Produccion</a>
                </li>
                <!-- Opción de cerrar sesión -->
                <li class="nav-item">
                    <a href="/logout" type="btn">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
