<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/link-script::link-scrpit}"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">

<div class="card shadow p-4" style="width: 350px;">
    <h3 class="text-center">Iniciar Sesión</h3>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username" name="username" required th:field="*{user.email}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required th:field="*{user.pwd}">
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>
</div>

</body>
</html>
